<footer class="footer">
  <div class="footer__container">
    <img src="/images/ecoflowLogo.png" alt="Logo" class="footer__logo" />
    <div class="footer__content">
      <!-- Contact -->
      <div class="footer__section">
        <h3 class="footer__title">ABOUT US</h3>
        <ul class="footer__list">
          <li>Ecoflow d.o.o.</li>
          <li>Belgrade,Serbia</li>
        </ul>
      </div>

      <div class="footer__section">
        <h3 class="footer__title">CONTACT US</h3>
        <ul class="footer__list">
          <li>office&#64;ecoflowdoo.rs</li>
          <li>+381 64 6113 058</li>
          <li>+381 69 1100 501</li>
          <li>+381 69 1100 504</li>
        </ul>
      </div>

      <!-- Terms -->
      <div class="footer__section">
        <h3 class="footer__title">TERMS OF USE</h3>
        <ul class="footer__list footer_terms">
          <li>Privacy policy</li>
          <li>Impressum</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
