<footer class="footer">
  <div class="footer__container">
    <img src="/images/ecoflowLogo.png" alt="Logo" class="footer__logo" />
    <div class="footer__content">
      <!-- About us -->
      <div class="footer__section">
        <h3 class="footer__title">{{ "FOOTER_ABOUT_TITLE" | translate }}</h3>
        <ul class="footer__list">
          <li>{{ "FOOTER_ABOUT_COMPANY" | translate }}</li>
          <li>{{ "FOOTER_ABOUT_LOCATION" | translate }}</li>
        </ul>
      </div>

      <!-- Contact -->
      <div class="footer__section">
        <h3 class="footer__title">{{ "FOOTER_CONTACT_TITLE" | translate }}</h3>
        <ul class="footer__list">
          <li>office&#64;ecoflowdoo.rs</li>
          <li>+381 64 6113 058</li>
          <li>+381 69 1100 501</li>
          <li>+381 69 1100 504</li>
        </ul>
      </div>

      <!-- Terms -->
      <div class="footer__section">
        <h3 class="footer__title">{{ "FOOTER_TERMS_TITLE" | translate }}</h3>
        <ul class="footer__list footer_terms">
          <li>{{ "FOOTER_TERMS_PRIVACY" | translate }}</li>
          <li>{{ "FOOTER_TERMS_IMPRESSUM" | translate }}</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
