.footer {
  background: #103636;
  color: #fff;
  padding: 3rem 2rem;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
  gap: 4rem;
  padding-right: 4rem;
}

.footer__logo {
  height: 8rem;
  flex-shrink: 0;
}
.footer__content {
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.footer__section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #20cb48;
  text-transform: uppercase;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
}

.footer__list li {
  transition: color 0.3s ease;
}

.footer_terms {
  cursor: pointer;
}

.footer__list a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer__list a:hover {
  color: #2ed725;
  text-decoration: underline;
}

@media (max-width: 70rem) {
  .footer__content {
    gap: 3rem;
  }
  .footer__logo {
    height: 6rem;
  }
}

@media (max-width: 60rem) {
  .footer__content {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .footer__logo {
    height: 4.5rem;
  }
}

@media (max-width: 50rem) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding-right: 0;
  }

  .footer__logo {
    height: 5rem;
    margin-bottom: 1rem;
  }

  .footer__content {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    width: 100%;
  }

  .footer__section {
    align-items: center;
  }
}

@media (max-width: 30rem) {
  .footer {
    padding: 2rem 1rem;
  }
  .footer__logo {
    height: 5rem;
    margin-bottom: 0.5rem;
  }

  .footer__content {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    width: 100%;
  }
  .footer__title {
    font-size: 1rem;
  }
  .footer__list {
    font-size: 0.9rem;
  }
}
