.nav {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 90%;
  max-width: 75rem;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  padding: 0 2rem;
  position: relative;
  z-index: 1000;
  box-sizing: border-box;
}

/* sticky navbar */
.nav.sticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 70%;
  background: linear-gradient(to right, #ffffff 20%, #f1fff1) padding-box,
    linear-gradient(to right, #18eb49 0%, #b7ffb9 70%, #ffffff 90%) border-box;
  border: 0.12rem solid transparent;
  border-top: 0;
  transition: 0.8s ease;
}

.nav__logo {
  height: clamp(0.8rem, 0.5rem + 5vw, 5rem);
  transition: all 0.3s;
  cursor: pointer;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  margin-top: 0.5rem;
  padding: 0;
}

.nav__item {
  margin-left: 1.2rem;
}

.nav__link {
  font-size: clamp(0.65rem, 0.4rem + 1vw, 1.3rem);
  font-weight: 450;
  color: #222;
  text-decoration: none;
  cursor: pointer;
  display: block;
  transition: all 0.3s;
}

.nav__link:hover {
  color: #2ed725;
}

.nav__link--btn {
  font-size: clamp(0.55rem, 0.35rem + 1vw, 1.5rem);
  padding: clamp(0.25rem, 0.15rem + 0.5vw, 0.6rem)
    clamp(0.5rem, 0.3rem + 1vw, 1.4rem);
  background-color: #ffffff;
  margin-left: 1.1rem;
  border: 0.1rem solid #222;
  color: #222;
  cursor: pointer;
  font-weight: 500;
  border-radius: 0.3rem;
}

.nav__link--btn:hover {
  color: #2ed725;
  border-color: #2ed725;
}

/* Media 80rem */
@media (max-width: 80rem) {
  .nav {
    width: 90%;
    padding: 0 1rem;
  }
  .nav__logo {
    height: 3rem;
  }
  .nav__links {
    margin-top: 0.4rem;
  }
}

/* Media 60rem */
@media (max-width: 60rem) {
  .nav {
    width: 95%;
    padding: 0 0.9rem;
  }
  .nav__logo {
    height: 2.5rem;
  }
  .nav__item--hide-mobile {
    display: none;
  }
  .nav__links {
    margin-top: 0.3rem;
  }
}

/* Media 50rem */
@media (max-width: 50rem) {
  .nav {
    width: 95%;
    padding: 0 0.6rem;
    height: 4rem;
  }
  .nav__logo {
    height: 2rem;
  }

  .nav__links {
    gap: 0.5rem;
    margin-top: 0.2rem;
  }

  .nav__item {
    margin-left: 0;
  }
}

/* Media 30rem */
@media (max-width: 30rem) {
  .nav {
    width: 95%;
    padding: 0 0.5rem;
    height: 3.5rem;
  }
  .nav__logo {
    height: 1.5rem;
  }
  .nav__links {
    gap: 0.4rem;
    margin-top: 0.1rem;
  }

  .nav__item {
    margin-left: 0;
  }

  .nav__item--hide-mobile {
    display: none;
  }
}
