<nav class="nav">
  <img src="" alt="Ecoflow logo" class="nav__logo" id="logo" />
  <ul class="nav__links">
    <li class="nav__item">
      <a class="nav__link" href="#home">Home</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#section--aboutus">About us</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#section--products">Products</a>
    </li>
    <li class="nav__item">
      <a class="nav__link nav__link--btn btn--contact" href="#section--contact"
        >Contact</a
      >
    </li>
  </ul>
</nav>
