<nav class="nav" [class.sticky]="isSticky">
  <img
    src="/images/ecoflowLogo.png"
    alt="Ecoflow logo"
    class="nav__logo"
    id="logo"
  />
  <ul class="nav__links">
    <li class="nav__item">
      <a class="nav__link" href="#home">{{ "NAV_HOME" | translate }}</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#section--technology">{{
        "NAV_TECHNOLOGY" | translate
      }}</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#section--products">{{
        "NAV_PRODUCTS" | translate
      }}</a>
    </li>
    <li class="nav__item mobile_hidden">
      <a class="nav__link" href="#section--benefits">{{
        "NAV_BENEFITS" | translate
      }}</a>
    </li>
    <li class="nav__item mobile_hidden">
      <a class="nav__link" href="#section--industries">{{
        "NAV_INDUSTRIES" | translate
      }}</a>
    </li>
    <li class="nav__item">
      <button
        class="nav__link nav__link--btn btn--contact"
        routerLink="/contact"
      >
        {{ "NAV_CONTACT" | translate }}
      </button>
    </li>
    <li class="nav__item nav__item--lang">
      <button
        class="nav__link nav__link--btn lang-btn"
        [ngClass]="langClass"
        (click)="onToggleLang()"
      >
        {{ currentLang === "en" ? "SR" : "EN" }}
      </button>
    </li>
  </ul>
</nav>
