<nav class="nav" [class.sticky]="isSticky">
  <img
    src="/images/ecoflowLogo.png"
    alt="Ecoflow logo"
    class="nav__logo"
    id="logo"
  />
  <ul class="nav__links">
    <li class="nav__item">
      <a class="nav__link" href="#home">Home</a>
    </li>
    <li class="nav__item item--hide-mobile">
      <a class="nav__link" href="#section--technology">Technology</a>
    </li>
    <li class="nav__item nav__item--hide-mobile">
      <a class="nav__link" href="#section--products">Products</a>
    </li>
    <li class="nav__item nav__item--hide-mobile">
      <a class="nav__link" href="#section--benefits">Benefits</a>
    </li>
    <li class="nav__item nav__item--hide-mobile">
      <a class="nav__link" href="#section--industries">Industries</a>
    </li>
    <li class="nav__item">
      <button
        class="nav__link nav__link--btn btn--contact"
        routerLink="/contact"
      >
        Contact
      </button>
    </li>
  </ul>
</nav>
