.nav {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 90%;
  max-width: 75rem;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  padding: 0 2rem;
  position: relative;
  z-index: 1000;
  box-sizing: border-box;
}

/* sticky navbar */
.nav.sticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 70%;
  background: linear-gradient(to right, #ffffff 20%, #f2fff5) padding-box,
    linear-gradient(to right, #18eb49 0%, #9fffa0 50%, #ffffff 90%) border-box;
  border: 0.13rem solid transparent;
  border-top: 0;
  transition: 0.8s ease;
}

.nav__logo {
  height: 2.8rem;
  transition: all 0.3s;
  cursor: pointer;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  margin-left: 1.2rem;
}

.nav__link {
  font-size: 1.3rem;
  font-weight: 400;
  color: #222;
  text-decoration: none;
  cursor: pointer;
  display: block;
  transition: all 0.3s;
}

.nav__link:hover {
  color: #2ed725;
}

.nav__link--btn {
  padding: 0.6rem 1.4rem;
  margin-left: 1.1rem;
  border: #222 0.1rem solid;
  color: #222;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.5rem;
  border-radius: 0.3rem;
}

.nav__link--btn:hover {
  color: #2ed725;
  border-color: #2ed725;
}

/*Media tablets*/
@media (max-width: 80rem) {
  /* 768px */
  .nav {
    width: 90%;
    padding: 0 1rem;
  }

  .nav__link {
    font-size: 1.2rem;
  }

  .nav__link--btn {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
  }
  .nav__logo {
    height: 2rem;
  }
}

@media (max-width: 60rem) {
  /* 800px */
  .nav {
    width: 95%;
    padding: 0 0.85rem;
  }

  .nav__link {
    font-size: 1rem;
  }

  .nav__link--btn {
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
  }

  .nav__logo {
    height: 1.5rem;
  }
}

/*Media telephone*/
@media (max-width: 50rem) {
  .nav {
    width: 95%;
    padding: 0 0.5rem;
    height: 4rem;
  }

  .nav__links {
    gap: 0.4rem;
  }

  .nav__item {
    margin-left: 0;
  }

  .nav__link {
    font-size: 0.5rem;
  }

  .nav__link--btn {
    padding: 0.3rem 0.6rem;
    font-size: 0.65rem;
    margin-left: 0.2rem;
  }

  .nav__logo {
    height: 1rem;
  }
}

@media (max-width: 30rem) {
  .nav {
    width: 95%;
    padding: 0 0.4rem;
    height: 3.5rem;
  }

  .nav__links {
    gap: 0.3rem;
  }

  .nav__item {
    margin-left: 0;
  }

  .nav__link {
    font-size: 0.65rem;
  }

  .nav__link--btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.55rem;
    margin-left: 0.3rem;
  }

  .nav__logo {
    height: 0.8rem;
  }
}
