<section class="contact">
  <div class="contact-left">
    <h5>{{ "CONTACT_TITLE" | translate }} ›</h5>
    <p>{{ "CONTACT_SUBTITLE" | translate }}</p>
  </div>

  <div class="contact-right">
    <div class="contact-panel">
      <div class="info-row">
        <div class="info-icon"><i class="fa-regular fa-envelope"></i></div>
        <div class="info-text">
          <h4>{{ "CONTACT_EMAIL_TITLE" | translate }}</h4>
          <p>office&#64;ecoflowdoo.rs</p>
        </div>
      </div>

      <div class="info-row">
        <div class="info-icon"><i class="fa-solid fa-phone"></i></div>
        <div class="info-text">
          <h4>{{ "CONTACT_PHONE_TITLE" | translate }}</h4>
          <p>+381 64 6113 058</p>
          <p>+381 69 1100 501</p>
          <p>+381 69 1100 504</p>
        </div>
      </div>

      <div class="info-row">
        <div class="info-icon"><i class="fa-solid fa-location-dot"></i></div>
        <div class="info-text">
          <h4>{{ "CONTACT_ADDRESS_TITLE" | translate }}</h4>
          <p>{{ "CONTACT_ADDRESS" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
