<section class="contact">
  <div class="contact-left">
    <h5>Contact us ›</h5>
    <p>Get in touch and let's work together!</p>
  </div>

  <div class="contact-right">
    <div class="contact-panel">
      <div class="info-row">
        <div class="info-icon"><i class="fa-regular fa-envelope"></i></div>
        <div class="info-text">
          <h4>Email</h4>
          <p>office&#64;ecoflowdoo.rs</p>
        </div>
      </div>

      <div class="info-row">
        <div class="info-icon"><i class="fa-solid fa-phone"></i></div>
        <div class="info-text">
          <h4>Phone</h4>
          <p>+381 64 6113 058</p>
          <p>+381 69 1100 501</p>
          <p>+381 69 1100 504</p>
        </div>
      </div>

      <div class="info-row">
        <div class="info-icon"><i class="fa-solid fa-location-dot"></i></div>
        <div class="info-text">
          <h4>Address</h4>
          <p>Belgrade,Serbia</p>
        </div>
      </div>
    </div>
  </div>
</section>
