<section class="productsSection">
  <div class="products-header">
    <h1>Discover Griffon Digesters</h1>
    <p>Innovative digesters designed to reduce food waste.</p>
  </div>

  <div class="products" id="griffon-50">
    <div class="product">
      <div class="product-text">
        <h2>GRIFFON 50</h2>
        <p>Capacity: 50* kg/day</p>
        <p class="note">*depending on the composition and type of food</p>
        <p>
          Ideal for: small venues - small restaurants, bistros, clubs and pubs
        </p>
        <div class="product-specs">
          <div class="spec">
            <h4>Weight</h4>
            <p>120 kg</p>
          </div>
          <div class="spec">
            <h4>Dimensions</h4>
            <p>400 mm (L) x 700 mm (W) x 900 mm (H)</p>
          </div>
        </div>
        <div class="product-features">
          <h4>Main features:</h4>
          <ul>
            <li>
              Depending on the composition of food residues, it aerobically
              processes up to 50kg of food per day
            </li>
            <li>187 watt electric motor</li>
            <li>Stainless steel construction, heavy-duty device</li>
            <li>Easy-to-use control panel</li>
            <li>
              The door safety mechanism automatically stops the appliance as
              soon as the door is opened
            </li>
          </ul>
        </div>
      </div>

      <div class="product-image">
        <img src="images/gr50.png" alt="GRIFFON 50" />
      </div>
    </div>

    <div class="product" id="griffon-150">
      <div class="product-text">
        <h2>GRIFFON 100/150</h2>
        <p>Capacity: 100-200* kg/day</p>
        <p class="note">*depending on the composition and type of food</p>
        <p>Ideal for: medium-size restaurants, hotels and institutions</p>
        <div class="product-specs">
          <div class="spec">
            <h4>Weight</h4>
            <p>174/192 kg</p>
          </div>
          <div class="spec">
            <h4>Dimensions</h4>
            <p>
              600 mm (L) x 700 mm (W) x 1060 mm (H)/ <br />
              775 mm (L) x 675 mm (W) x 1150 mm (H)
            </p>
          </div>
        </div>
        <div class="product-features">
          <h4>Main features:</h4>
          <ul>
            <li>
              Depending on the composition of food residues, it aerobically
              processes an average of 149 kg of food per day
            </li>
            <li>187 watt electric motor</li>
            <li>Stainless steel construction, heavy-duty device</li>
            <li>Easy-to-use control panel</li>
            <li>
              The door safety mechanism automatically stops the appliance as
              soon as the door is opened
            </li>
          </ul>
        </div>
      </div>
      <div class="product-image">
        <img src="images/gr150.png" alt="GRIFFON 150" />
      </div>
    </div>

    <div class="product" id="griffon-250">
      <div class="product-text">
        <h2>GRIFFON 250</h2>
        <p>Capacity: 180-300* kg/day</p>
        <p class="note">*depending on the composition and type of food</p>
        <p>
          Ideal for: smaller and medium venues - boutique hotels, restaurants,
          grocery shops…
        </p>
        <div class="product-specs">
          <div class="spec">
            <h4>Weight</h4>
            <p>398 kg</p>
          </div>
          <div class="spec">
            <h4>Dimensions</h4>
            <p>1300 mm (W) x 1000 mm (L) x 1350 mm (H)</p>
          </div>
        </div>
        <div class="product-features">
          <h4>Main features:</h4>
          <ul>
            <li>
              Depending on the composition of food residues, it processes an
              average of 249 kg of food per day aerobically
            </li>
            <li>550 watts electric motor</li>
            <li>Stainless steel construction, heavy-duty device</li>
            <li>Easy-to-use control panel</li>
            <li>
              Door safety mechanism automatically stops the device as soon as
              the door opens
            </li>
          </ul>
        </div>
      </div>
      <div class="product-image">
        <img src="images/gr250.png" alt="GRIFFON 250" />
      </div>
    </div>
    <div class="product" id="griffon-500">
      <div class="product-text">
        <h2>GRIFFON 500</h2>
        <p>Capacity: 350 - 600* kg/day</p>
        <p class="note">*depending on the composition and type of food</p>
        <p>
          Ideal for: medium and large facilities - hotels, catering services,
          hospitals, nursery homes, stadiums…..
        </p>
        <div class="product-specs">
          <div class="spec">
            <h4>Weight</h4>
            <p>478 kg</p>
          </div>
          <div class="spec">
            <h4>Dimensions</h4>
            <p>1800mm (W) x 1000mm (L) x 1350mm (H)</p>
          </div>
        </div>
        <div class="product-features">
          <h4>Main features:</h4>
          <ul>
            <li>
              Depending on the composition of food residues, it processes an
              average of 499 kg of food per day aerobically
            </li>
            <li>750 watts electric motor</li>
            <li>Stainless steel construction, heavy-duty device</li>
            <li>Easy-to-use control panel</li>
            <li>
              Door safety mechanism automatically stops the device as soon as
              the door opens
            </li>
          </ul>
        </div>
      </div>
      <div class="product-image">
        <img src="images/gr500.png" alt="GRIFFON 500" />
      </div>
    </div>
    <div class="product" id="griffon-1000">
      <div class="product-text">
        <h2>GRIFFON 1000</h2>
        <p>Capacity: 700 - 1200* kg/day</p>
        <p class="note">*depending on the composition and type of food</p>
        <p>
          Ideal for: large facilities like hospitals, shopping malls, wholesale
          fruit and vegetables…
        </p>
        <div class="product-specs">
          <div class="spec">
            <h4>Weight</h4>
            <p>693 kg</p>
          </div>
          <div class="spec">
            <h4>Dimensions</h4>
            <p>2900mm (W) x 1000mm (L) x 1350mm (H)</p>
          </div>
        </div>
        <div class="product-features">
          <h4>Main features:</h4>
          <ul>
            <li>
              Depending on the composition of food residues, it aerobically
              processes an average of 999 kg of food per day
            </li>
            <li>750 watt electric motor</li>
            <li>Stainless steel construction, heavy-duty device</li>
            <li>Easy-to-use control panel</li>
            <li>
              The door safety mechanism automatically stops the appliance as
              soon as the door is opened
            </li>
          </ul>
        </div>
      </div>
      <div class="product-image">
        <img src="images/gr1000.png" alt="GRIFFON 1000" />
      </div>
    </div>
  </div>
</section>
