/* Google Fonts: Varela Round */
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

html {
  scroll-behavior: smooth;
}
