/*GENERAL ELEMENTS*/
.section {
  padding: 6rem 3rem;
  border-top: 0.1rem solid #ddd;
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section__title {
  margin: 0 auto 4rem auto;
}

.section__description {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #20cb48;
  margin-bottom: 1rem;
}

.section__header {
  line-height: 1.3;
  font-weight: 500;
}

/*HOME HEADER*/
.home__header {
  height: 80vh;
  background-image: url("/images/headerImage1.png");
  background-size: cover;
  background-position: center 70%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  text-align: left;
  padding-left: 5rem;
  z-index: 0;
  transition: 0.5s ease;
}

.home__header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.5s ease;
}

.header__content {
  position: relative;
  color: #07230e;
  z-index: 1;
  transform: translateY(-60%);
  max-width: 70rem;
}

/*MEDIA QUERIES*/
@media (max-width: 48rem) {
  .section {
    padding: 4rem 2rem;
  }
  .section__title {
    margin-bottom: 3rem;
  }
  .home__header {
    padding-left: 2rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.4rem;
  }
}

@media (max-width: 30rem) {
  .section {
    padding: 3rem 1rem;
  }
  .section__title {
    margin-bottom: 2rem;
  }

  .home__header {
    padding-left: 1rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.2rem;
  }
}
