/*GENERAL ELEMENTS*/
.section {
  padding: 6rem 3rem;
  border-top: 0.1rem solid #f0f0f0;
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section__title {
  margin: 0 auto 6rem auto;
}

.section__description {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #20cb48;
  margin-bottom: 1rem;
}

.section__header {
  line-height: 1;
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.6rem;
}

/*HOME HEADER*/
.home__header {
  height: 70vh;
  background-image: url("/images/headerImage1.png");
  background-size: cover;
  background-position: center 60%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  text-align: left;
  padding-left: 4rem;
  z-index: 0;
  transition: 0.5s ease;
}

.home__header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #ffffff;
  z-index: 1;
  transform: translateY(-15%);
  font-family: "Gill Sans", "Gill Sans MT", "Varela Round", "Trebuchet MS",
    sans-serif;
}

.highlight {
  color: #028159;
  font-size: larger;
}

.header__btn {
  margin-top: 3rem;
  padding: 1.1rem 2rem;
  background-color: #076044;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.3s ease, transform 0.2s ease;
}

.header__btn:hover {
  background-color: #04553b;
  transform: translateY(-0.25rem);
}

/*TECHNOLOGY SECTION*/
#section--technology {
  border-top: 0;
  padding: 4rem 2rem;
  background-image: linear-gradient(to bottom, #f2fbf1, #ffffff 20%);
}

.technology__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 1rem;
  max-width: 65rem;
  margin: 0 auto;
}

.technology__image img {
  width: 100%;
  max-width: 31rem;
  border-radius: 0.5rem;
}

.tech-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  background-color: #f9fff8;
  padding: 2.5rem;
  border-radius: 0.2rem;
  border: 0.02rem solid #028159;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.08);
  transform: translateY(5rem);
}

.technology__content {
  color: #222;
  transform: translateY(-1rem);
}

.technology__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 1rem;
  margin-bottom: 0.3rem;
}

.technology__subtitle {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.technology__list {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.technology__item {
  display: flex;
  align-items: flex-start;
  gap: 0.6rem;
}

.technology__item h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.1rem;
  align-items: center;
}

.technology__item p {
  align-items: center;
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}

.technology__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #056647;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  line-height: 1;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
}

/*PRODUCTS SECTION*/
#section--products {
  padding: 4rem 1rem;
  background-color: #fbfcfb;
}

#section--products .section__title {
  text-align: center;
  margin-bottom: 3rem;
}

#section--products .section__description {
  color: #20cb48;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

#section--products .section__header {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.productsWrapper {
  margin: 0 1;
  padding: 1rem 0rem;
  background-color: #fbfcfb;
}

.products__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  max-width: 90rem;
  margin: 0 auto;
}

.product__card {
  background: #034f37;
  overflow: hidden;
  box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.product__card img {
  width: 100%;
  height: 14rem;

  object-fit: cover;
}

.product__content {
  padding: 1rem;
}

.product__content h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
  color: #ffffff;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}
.product__content .arrow {
  color: #ffffff;
  font-size: 1.3rem;
  margin-left: 0.4rem;
  margin-bottom: 0.3rem;
  transition: transform 0.2s ease, color 0.3s ease;
}
.product__card:hover h3 {
  color: #2cf95c;
}
.product__card:hover .arrow {
  color: #2cf95c;
  transform: translateX(0.8rem);
}

.product__content p {
  font-size: 1rem;
  color: #c3c3c3;
}

.product__card:hover {
  transform: scale(1.03);
  box-shadow: 0 0.6rem 1.8rem rgba(0, 0, 0, 0.2);
}

.product__card:hover h3 {
  color: #20cb48;
}

/*BENEFITS SECTION*/
#section--benefits {
  padding: 4rem 2rem;
  background: #103636;
  color: #fff;
  border-top: 0;
}

#section--benefits .section__title {
  text-align: center;
  margin-bottom: 3rem;
}

#section--benefits .section__description {
  color: #20cb48;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

#section--benefits .section__header {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.benefits__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  max-width: 70rem;
  margin: 0 auto;
}

.benefit__card {
  background: #184c4c;
  padding: 0.5rem;
  border-radius: 0.75rem;
  transition: transform 0.3s, box-shadow 0.3s;
}

.benefit__card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.3);
}

.benefit__icon {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #20cb48;
}

.benefit__card h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.benefit__card p {
  font-size: 0.95rem;
  color: #bbb;
  line-height: 1.5;
}

/*SECTION INDUSTRIES*/
#section--industries {
  border-top: 0;
  padding: 4rem 2rem;
  background: #fff;
}

.industries__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 10rem;
}

.industries__content {
  color: #222;
}

.industries__title {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.industries__subtitle {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.industries__btn {
  padding: 1rem 1.5rem;
  border: none;
  background: #b5e3ae;
  color: #091427;
  font-weight: 600;
  border-radius: 3rem;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.5s;
}

.industries__btn:hover {
  background: #567a51;
}

.industries__image img {
  width: 100%;
  max-width: 30rem;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 1.25rem rgba(0, 0, 0, 0.1);
}
/* SIGNUP */
.section--explore {
  background-color: #ffffff;
  border-top: none;
  border-bottom: 0.08rem solid #444;
  text-align: center;
  padding: 3rem 1rem;
}

.section--explore .section__header {
  color: #5d5d5d;
  text-align: center;
}

.section--explore .section__title {
  margin-bottom: 1rem;
}

/*MEDIA QUERIES*/
@media (max-width: 48rem) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  .section {
    padding: 4rem 2rem;
  }
  .section__title {
    margin-bottom: 3rem;
  }
  .home__header {
    padding-left: 2rem;
    height: 50vh;
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .header__content {
    transform: translateY(-10%);
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
  }

  .home__header::after {
    margin-top: 8rem;
    height: 40%;
    background: rgba(0, 0, 0, 0.2);
  }

  #section--technology {
    background-image: none;
  }

  .technology__container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
    text-align: center;
  }
  .tech-image-wrapper {
    width: 40%;
    padding: 1.5rem;
    transform: none;
    margin: 0 auto;
  }
  .technology__image img {
    max-width: 18rem;
  }
  .technology__content {
    transform: none;
    margin-top: 1rem;
    text-align: center;
  }
  .technology__title {
    font-size: 1.2rem;
    margin-left: 0;
  }

  .technology__subtitle {
    font-size: 0.9rem;
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .technology__list {
    align-items: center;
    padding-left: 0;
  }

  .technology__item {
    justify-content: flex-start;
    text-align: left;
    max-width: 22rem;
  }
  .technology__item h3 {
    font-size: 1rem;
  }

  .technology__item p {
    font-size: 0.85rem;
  }

  .technology__icon {
    width: 2rem;
    height: 2rem;
    font-size: 0.8rem;
  }

  #section--benefits .section__title {
    margin-bottom: 2rem;
  }

  #section--benefits .section__header {
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
  }

  .benefits__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .benefit__card {
    padding: 0.4rem;
    border-radius: 0.75rem;
  }

  .benefit__icon {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
  }

  .benefit__card h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }

  .benefit__card p {
    font-size: 0.6rem;

    line-height: 1.2;
  }

  .products__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .product__card img {
    height: 16rem;
  }
  .industries__container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

@media (max-width: 30rem) {
  h1 {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1rem;
  }
  .section {
    padding: 3rem 1rem;
  }
  .section__title {
    margin-bottom: 2rem;
  }

  .home__header {
    padding-left: 1rem;
    height: 30vh;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .home__header::after {
    margin-top: 4rem;
    height: 29%;
    background: rgba(0, 0, 0, 0.2);
  }

  .header__content {
    transform: translateY(-10%);
    align-items: center;
    text-align: center;
    font-size: 1rem;
  }

  .header__btn {
    margin-top: 1rem;
    padding: 0.6rem 0.8rem;
    background-color: #076044;
    color: #ffffff;
    font-size: 0.6rem;
  }
  #section--technology {
    background-image: none;
  }

  .technology__list {
    align-items: center;
    padding-left: 0;
  }

  .benefits__grid {
    grid-template-columns: 1fr;
  }

  .benefit__card {
    text-align: center;
    align-items: center;
  }
  .products__grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .product__card img {
    height: 12rem;
  }
  .product__card {
    width: 60%;
    margin: 0 auto;
  }
  .product__title {
    font-size: 1.4rem;
  }
  .product__description {
    font-size: 1.1rem;
  }

  .industries__container {
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
  }
  .industries__image img {
    margin-top: 1rem;
    max-width: 22rem;
  }
}
