/*GENERAL ELEMENTS*/
.section {
  padding: 6rem 3rem;
  border-top: 0.1rem solid #ddd;
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section__title {
  margin: 0 auto 4rem auto;
}

.section__description {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #20cb48;
  margin-bottom: 1rem;
}

.section__header {
  line-height: 1.3;
  font-weight: 500;
}

/*HOME HEADER*/
.home__header {
  height: 100vh;
  background-image: url("/images/headerImage7.png");
  background-size: cover;
  background-position: center 60%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  text-align: left;
  padding-left: 5rem;
  z-index: 0;
  transition: 0.5s ease;
}

.home__header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition: 0.5s ease;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #ffffff;
  z-index: 1;
  transform: translateY(-55%);
  font-family: "Gill Sans", "Gill Sans MT", "Varela Round", "Trebuchet MS",
    sans-serif;
  font-size: 1.25rem;
}

.highlight {
  color: #0c1b08;
}
#section--technology {
  border-top: 0;
  background-image: linear-gradient(to bottom, #badfb2, #f9fff8 40%);
}

/*MEDIA QUERIES*/
@media (max-width: 48rem) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  .section {
    padding: 4rem 2rem;
  }
  .section__title {
    margin-bottom: 3rem;
  }
  .home__header {
    padding-left: 2rem;
    background-position: center top; /* bolje centriranje na tabletima */
    background-size: cover; /* zadrži popunjavanje */
  }
  .header__content {
    transform: translateY(-90%); /* manji pomak da ostane vidljivo */
    font-size: 0.8rem; /* malo manji font da ne zauzima previše */
  }
  #section--technology {
    background-image: none;
  }
}

@media (max-width: 30rem) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1rem;
  }
  .section {
    padding: 3rem 1rem;
  }
  .section__title {
    margin-bottom: 2rem;
  }

  .home__header {
    padding-left: 1rem;
    height: 30vh;
    background-position: top; /* da vidiš gornji deo slike */
    background-size: contain; /* smanji sliku da cela stane */
    background-repeat: no-repeat; /* da se ne ponavlja */
  }
  .header__content {
    transform: translateY(-40%); /* ukloni pomeranje na mobilu */
    align-items: center; /* centriraj horizontalno */
    text-align: center; /* tekst centriran */
    font-size: 1rem; /* još manji font da lepo stane */
  }
  #section--technology {
    background-image: none;
  }
}
